
  {% extends "admin/base_site.html" %}
  {% load i18n static %}

  {% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
  {{ form.media }}
  {% endblock %}

  {% block bodyclass %}{{ block.super }} login{% endblock %}

  {% block usertools %}{% endblock %}

  {% block nav-global %}{% endblock %}

  {% block content_title %}{% endblock %}

  {% block breadcrumbs %}{% endblock %}

  {% block content %}
  {% if form.errors and not form.non_field_errors %}
  <p class="errornote">
  {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
  </p>
  {% endif %}

  {% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
  <p class="errornote">
      {{ error }}
  </p>
  {% endfor %}
  {% endif %}
<h2>signup with</h2>
    <a href="{% url 'social:begin' 'facebook' %}">facebook</a>
    <a href="{% url 'social:begin' 'google-oauth2' %}">google </a>
  <div id="content-main">



  <form action="" method="post">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Зарегистрировать">
  </form>

  </div>
  {% endblock %}
